@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: blueviolet;
}
/* Common Style CSS { Header, Hero, achievement, Footer, Products }  */
.container {
  text-align: center;
  background-color: bisque;
  margin: 0 auto;
  width: 100%;
}

/* Header CSS Style  */
.header {
  background: #ffffff;
  display: flex;
  min-width: auto;
  min-height: 100px;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.logo-img {
}
.h2-logo {
}
.navbar {
}
.three-line {
}
.line-img {
}
.nav {
  display: none;
}
.nav-items {
}
.nav-list {
}
.nav-link {
}
.uase-login {
  display: none;
}
.user {
}

/* Hero CSS Style {shop, Cart, Checkout, contact, Blog }  */

/* Shop  */
.hero-section-shop {
}
.hero-shop {
}
.hero-bg-img-shop {
}
.hero-discover-shop {
}
.h1-hero-shop {
}
.hero-text-shop {
}
.para-hero-shop {
}
.hero-shop-icon {
}

/* Cart  */
.hero-cart-diff {
}
.cart-logo-diff {
}

/* Achievement */
.achievement-section {
}
.achievement {
}
.achievement-icon {
}
.achievement-text {
}
.h3-achievement {
}
.para-achievement {
}

/* Footer */
.footer-section {
}
.footer-top {
}
.footer-div-left {
}
.h3-footer {
}
.para-div {
}
.light-para {
}
.footer-div-middle {
}
.para-footer {
}
.footer-div-right {
}
.subscribe {
}
.footer-input {
}
.para-footer {
}
.footer-hr {
}
.footer-bottom {
}
.para-bottom {
}

/* Products */
.products-shop {
}
.product-body-shop {
}
.product-content {
}
.product-cart-link {
}
.product-img {
}
.protect-details {
}
.h3-pro {
}
.para-pro {
}
.pro-price {
}
.h2-pro {
}
.para-pro-rp {
}
.product-btn-shop {
}
.pro-btn-link-shop {
}

/* Media Screen For 375px to 940px  */
@media screen and (min-width: 347px) {
  .container {
    margin: 0 auto;
    text-align: center;
  }

  /* Header CSS Style  */
  /* Shop  */
  /* Cart  */
  /* Achievement */
  /* Footer */
  /* Products */
}

/* Media Screen For 940px to 1440px  */
@media screen and (min-width: 940px) {
  /* Header CSS Style  */

  .nav {
    display: block;
  }
  .nav-items {
  }
  .nav-list {
  }
  .nav-link {
  }
  .uase-login {
    display: block;
  }
  .user {
  }
  /* Shop  */
  /* Cart  */
  /* Achievement */
  /* Footer */
  /* Products */
}
/* Media Screen For 1440px to Upper  */
@media screen and (min-width: 1440px) {
  /* Header CSS Style  */
  /* Shop  */
  /* Cart  */
  /* Achievement */
  /* Footer */
  /* Products */
}
