/* Cart Product Price section  */
.cart-priceing-section {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0 auto;

  padding-top: 3.125rem;
}
/* Left */
/* Top  */
.cart-priceing-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.cart-price-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #f9f1e7;
  width: 51.0625rem;
  height: 3.4375rem;
}
.h3-cart {
  color: #000000;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.cart-sub-qty {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

/* Bottom  */
.cart-price-bottom {
  width: 51.0625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-price-img {
  width: 6.9375rem;
  height: 5.625rem;
}
.cart-price-text {
  width: 51.0625rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.h4-cart-peice {
  color: #9f9f9f;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
#h4-cart-price {
  border: 1px solid #9f9f9f;
  width: 2rem;
  height: 2rem;
align-content: center;
  border-width: 1px;
  border-radius: 5px;
}
#h4-cart-price-rs {
  color: #000000;
}
.cart-price-delete {
  width: 1.3125rem;
  height: 1.3672rem;
}
/* Right */
.cart-priceing-right {
  width: 30%;
  background: #f9f1e7;
  width: 24.5625rem;
  height: 24.375rem;
  padding: 2.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cart-total {
}
.cart-check-out {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}
.subtotal {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.h3-subtotal {
}
.h3-subtotal-RS {
}
.total {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.h3-total {
}
.h3-total-RS {
}
.cart-check-btn {
  width: 13.875rem;
  height: 3.6846rem;

  border-width: 1px;
  border-radius: 15px;
  border: 1px solid #000000;
}
.cart-check-link {
  color: #000000;
  text-decoration: none;
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
