
/* Media Screen For 940px to 1440px  */
@media screen and (min-width: 58.75rem) {

  /* Common Style CSS { Header, Hero, achievement, Footer, Products }  */
.container {
  text-align: center;
  background: #ff3a3a;

  margin: 0 auto;
  /* width: 90rem ; */
}


/* Header CSS Style  */
.header {
  min-width: 90rem;
  background: #ffffff;
  display: flex;
  height: 6.25rem;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0rem .1875rem .8125rem -0.1875rem rgba(0, 0, 0, 0.55);

  margin: 0 auto;

}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.logo-img {
  
}
.h2-logo {
  color: #000000;
  font-family: Montserrat;
font-weight: 700;
font-size: 2.125rem;
line-height: 100%;
letter-spacing: 0rem;
}
.nav-user{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar {
}
.three-line {
  display: none;
}
.line-img {
}
.nav {
  display: block;
  
}
.nav-items {
  display: flex;
  justify-content: space-around;
  min-width: 30rem;
  align-items: center;
}
.nav-list {
  list-style: none;
}
.nav-link {
  text-align: center;
  text-decoration: none;
  color: #000000;
  font-family: Poppins;
font-weight: 500;
font-size: 1rem;
line-height: 100%;
letter-spacing: 0%;

}
.uase-login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  gap: 1.25rem;

}
.user {
  width: 1.75rem;
height: 1.75rem;         
}

/* Hero CSS Style {shop, Cart, Checkout, contact, Blog }  */

/* Shop  */
.hero-section-shop {
}
.hero-shop {
}
.hero-bg-img-shop {
}
.hero-discover-shop {
}
.h1-hero-shop {
}
.hero-text-shop {
}
.para-hero-shop {
}
.hero-shop-icon {
}

/* Cart  */
.hero-cart-diff {
}
.cart-logo-diff {
}

/* Achievement */
.achievement-section {
}
.achievement {
}
.achievement-icon {
}
.achievement-text {
}
.h3-achievement {
}
.para-achievement {
}

/* Footer */
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: .9375rem;
  padding-bottom: 1.25rem;
}
.footer-top {
}
.footer-div-left {
}
.h3-footer {
  color: #000000;
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 100%;
  letter-spacing: 0%;
}
.para-div {
}
.light-para {
  color: #9f9f9f;
  font-family: Poppins;
  font-weight: 400;
  font-size: .9375rem;
  line-height: 100%;
  letter-spacing: 0%;
}
.footer-div-middle {
}
.para-footer {
}
.footer-div-right {
}
.subscribe {
}
.footer-input {
  text-align: center;
  border-style: none;
  border-bottom: .0625rem solid black;
}
.para-footer {
  color: #000000;
  font-family: Poppins;
  font-weight: 500;
  font-size: .9375rem;
  line-height: 100%;
  letter-spacing: 0%;
}
.sub-footer-link {
  display: block;
  color: #000000;
  font-family: Poppins;
  font-weight: 500;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0%;
}
.footer-hr {
  width: 90%;
  margin: .3125rem auto;
}
.footer-bottom {
  margin-top: .3125rem;
}
.para-bottom {
}

/* Products */
.products-shop {
}
.product-body-shop {
}
.product-content {
}
.product-cart-link {
}
.product-img {
}
.protect-details {
}
.h3-pro {
}
.para-pro {
}
.pro-price {
}
.h2-pro {
}
.para-pro-rp {
}
.product-btn-shop {
}
.pro-btn-link-shop {
}


}