/* Media Screen For 375px to 940px  */
@media screen and (min-width: 375px) {
  /* Home Style  */

  /* Hero Discover Section  */
  .hero-discover {
  }
  .hero-discover-img {
    position: relative;
    z-index: 10;
    /* background-image: url(../images/home-img/Discover-cover.png); */
    background-repeat: no-repeat;
    background-size: cover;
  }
  .discover-img {
    width: 100%;
  }
  .discover-text {
    position: relative;
    top: -200px;
    left: -0px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
  }
  .collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .para-new {
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 3px;
    color: #333333;
  }
  .h2-collection {
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    line-height: 65px;
    letter-spacing: 0px;
    margin-left: 5px;
    color: #b88e2f;
  }
  .para-collection {
    display: none;
  }
  .collection-btn {
    width: 120px;
    height: 50px;
    border-style: none;

    background: #b88f2f;
    box-shadow: 7px 10px 5px -8px rgba(0, 0, 0, 0.75);
  }
  .collection-btn-link {
    text-decoration: none;
    color: #ffffff;

    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: uppercase;
  }

  /* Browse Section  */
  .browse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: -100px;
  }
  .browse-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    text-align: center;
  }
  .h3-browse {
    color: #333333;
    font-family: Poppins;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0px;
  }
  .para-browse {
    color: #666666;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    width: auto;
  }
  .browse-imges {
    width: 90%;
    display: flex;
    justify-content: space-around;
  }
  .bro-img {
    width: 110%;
    height: 210px;
  }
  .h4-browse {
    color: #333333;
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
  }

  /* Home Products Section  */
  .products {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-top: 30px;
  }
  .h2-products {
    font-family: Poppins;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: #3a3a3a;
  }
  .product-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    width: 400px;
    justify-content: center;
    position: relative;
    left: -50px;
  }
  .product-content {
    /*  */
  }
  .product-cart-link {
    text-align: center;
    text-decoration: none;
  }
  .product-img {
    border-radius: 5px 5px 0px 0px;
    width: 140%;
  }
  .product-details {
    background: #f4f5f7;
    width: 140%;
    height: auto;
    padding-bottom: 5px;
    margin-top: -8px;
  }
  .h3-pro {
    color: #3a3a3a;
    font-family: Poppins;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .para-pro {
    color: #898989;
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .h2-pro {
    color: #3a3a3a;
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .para-pro-rp {
    color: #b0b0b0;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: line-through;
  }
  .product-btn {
    border: 1px solid #b88e2f;
    width: 100px;
    height: 40px;
    border-width: 1px;
    background-color: transparent;
    margin-bottom: 10px;
  }
  .pro-btn-link {
    color: #b88e2f;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: none;
  }

  /* Rooms Section  */

  .rooms-section {
    display: flex;
    flex-direction: column-reverse;
    background: #fcf8f3;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }
  .room-text {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    gap: 10px;
    margin-top: -60px;
  }
  .h2-room {
    color: #3a3a3a;
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .para-room {
    color: #616161;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .room-btn {
    background-color: #b88e2f;
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
    border-style: none;
  }

  .room-btn-link {
    color: #ffffff;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: none;
  }
  .room-img {
  }
  .room-peace-img {
  }
  .peace-img {
    width: 101%;
  }
  .inner-peace {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    position: relative;
    top: -90px;
    right: -50px;
  }
  .room-peace {
    background: #ffffffb8;
    backdrop-filter: blur(3px);
    width: 120px;
    height: 70px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
  .para-peace {
    color: #616161;
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .h3-peace {
    color: #3a3a3a;
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .inner-arrow {
    background: #b88e2f;
    width: 24px;
    height: 24px;
    top: 3317px;
    left: 805px;
  }
  .room-only-img {
  }
  #room-only-img {
    display: none;
  }
  .only-img {
  }
  .only-img-1 {
    width: 80%;
  }
  .only-elipes {
  }
  .elipes {
  }
  #elipes {
  }

  /* Funiro Furniture Section  */

  .furniture {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  .furniture-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .furniture-text {
    display: flex;
    width: 100%;
    height: auto;
    gap: 3px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }
  .para-furniture {
    color: #616161;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .h2-furniture {
    color: #3a3a3a;
    font-family: Poppins;
    font-weight: 700;
    font-size: 34px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }
  .furniture-img {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .furni-left-img {
    display: grid;
    grid-template-columns: 50px 100px;
    row-gap: 20px;
    column-gap: 10px;
    align-items: center;
  }

  #fur-img-1-1 {
    width: 100%;
    height: 90px;
  }
  #fur-img-1-2 {
    width: 100%;
    height: 90px;
  }
  .fur-img-1 {
    width: 90%;
    height: auto;
  }
  .furni-middle-img {
    display: flex;
    align-items: center;
  }

  .fur-img-2 {
    width: 90%;
    height: 120px;
  }

  .furni-right-img {
    display: grid;
    grid-template-columns: 100px 100px;
    row-gap: 20px;
    column-gap: 10px;
  }
  .fur-img-3 {
    width: 90%;
    height: auto;
  }
}
