/* Home Style  */

/* Hero Discover Section  */
.hero-discover {
  width: 100%;
}
.hero-discover-img {
  position: relative;
  z-index: 10;
  background-image: url(../images/home-img/Discover-cover.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.discover-img {
  width: 100%;
  margin: 0 auto;
}
.discover-text {
  position: absolute;
  top: 1rem;
  right: 4rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}
.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.para-new {
  font-family: Poppins;
  font-weight: 600;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0.1875rem;
  color: #333333;
}
.h2-collection {
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 4.0625rem;
  letter-spacing: 0rem;
  margin-left: 0.3125rem;
  color: #b88e2f;
}
.para-collection {
  display: none;
}
.collection-btn {
  width: 6.25rem;
  height: 2.5rem;
  border-style: none;

  background: #b88f2f;
  box-shadow: 0.4375rem 0.625rem 0.3125rem -0.5rem rgba(0, 0, 0, 0.75);
}
.collection-btn-link {
  text-decoration: none;
  color: #ffffff;

  font-family: Poppins;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 0rem;
  text-transform: uppercase;
}

/* Browse Section  */
.browse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-top: -6.25rem;
}
.browse-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
  text-align: center;
}
.h3-browse {
  color: #333333;
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 100%;
  letter-spacing: 0rem;
}
.para-browse {
  color: #666666;
  font-family: Poppins;
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0rem;
  text-align: center;
  width: auto;
}
.browse-imges {
  width: 90%;
  display: flex;
  justify-content: space-around;
}
.bro-img {
  width: 90%;
  height: 9.375rem;
}
.h4-browse {
  color: #333333;
  font-family: Poppins;
  font-weight: 600;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0rem;
  text-align: center;
}

/* Home Products Section  */
.products {
  width: 100%;
  padding-top: 2.25rem;
  gap: 8.125rem;
  display: flex;
  flex-direction: column;
}
.h2-products {
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  color: #3a3a3a;
}

.product-btn {
  border: 0.0625rem solid #b88e2f;
  width: 6.25rem;
  height: 2.5rem;
  border-width: 0.0625rem;
  background-color: transparent;
  margin: 0 auto;
}
.pro-btn-link {
  color: #b88e2f;
  font-family: Poppins;
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: none;
}

/* Rooms Section  */

.rooms-section {
  display: flex;
  flex-direction: column-reverse;
  background: #fcf8f3;
  margin-top: 1.25rem;
  justify-content: center;
  align-items: center;
  margin-top: 3.125rem;
}
.room-text {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  text-align: center;
  gap: 0.625rem;
  margin-top: -3.75rem;
}
.h2-room {
}
.para-room {
}
.room-btn {
  background-color: #b88e2f;
  width: 6.25rem;
  height: 2.5rem;
  margin-bottom: 0.625rem;
  border-style: none;
}

.room-btn-link {
  color: #ffffff;
  font-family: Poppins;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: none;
}
.room-img {
}
.room-peace-img {
}
.peace-img {
  width: 80%;
}
.inner-peace {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  position: relative;
  top: -5.625rem;
  right: -3.125rem;
}
.room-peace {
  background: #ffffffb8;
  backdrop-filter: blur(3px);
  width: 7.5rem;
  height: 4.375rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
}
.para-peace {
  color: #616161;
  font-family: Poppins;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0%;
}

.h3-peace {
  color: #3a3a3a;
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 120%;
  letter-spacing: 0%;
}
.inner-arrow {
  background: #b88e2f;
  width: 1.5rem;
  height: 1.5rem;
  top: 207.3125rem;
  left: 50.3125rem;
}
.room-only-img {
}
#room-only-img {
  display: none;
}
.only-img {
}
.only-img-1 {
  width: 80%;
}
.only-elipes {
}
.elipes {
}
#elipes {
}

/* Funiro Furniture Section  */

.furniture {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
.furniture-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.furniture-text {
  display: flex;
  width: 100%;
  height: auto;
  gap: 0.1875rem;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 0.625rem;
}
.para-furniture {
  color: #616161;
  font-family: Poppins;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.h2-furniture {
  color: #3a3a3a;
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}
.furniture-img {
  display: grid;
  grid-template-columns: auto auto auto;
}
.furni-left-img {
  display: grid;
  grid-template-columns: 3.125rem 6.25rem;
  row-gap: 1.25rem;
  column-gap: 0.625rem;
  align-items: center;
}

#fur-img-1-1 {
  width: 100%;
  height: 5.625rem;
}
#fur-img-1-2 {
  width: 100%;
  height: 5.625rem;
}
.fur-img-1 {
  width: 80%;
  height: auto;
}
.furni-middle-img {
  display: flex;
  align-items: center;
}

.fur-img-2 {
  width: 90%;
  height: 7.5rem;
}

.furni-right-img {
  display: grid;
  grid-template-columns: 6.25rem 6.25rem;
  row-gap: 1.25rem;
  column-gap: 0.625rem;
}
.fur-img-3 {
  width: 90%;
  height: auto;
}
