/* Media Screen For 940px to 1440px  */
@media screen and (min-width: 940px) {
  /* Hero Discover Section  */
  .hero-discover {
   
  }
  .hero-discover-img {
    position: relative;
    z-index: 10;
   
    
  }
  .discover-img {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .discover-text {
    width: 643px;
    height: 443px;
    background: #fff3e3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: absolute;
    padding: 50px;
    top: 550px;
    left: 1200px;
  }
  .collection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    text-align: start;
  }
  .para-new {
    color: #333333;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 3px;
  }
  .h2-collection {
    color: #b88e2f;
    font-family: Poppins;
    font-weight: 700;
    font-size: 52px;
    line-height: 65px;
    letter-spacing: 0px;
    margin-left: -5px;
  }
  .para-collection {
    display: block;
  }
  .collection-btn {
    background: #b88e2f;
    width: 222px;
    height: 74px;
    gap: 10px;
    box-shadow: 7px 10px 5px -8px rgba(0, 0, 0, 0.75);
  }
  .collection-btn-link {
    color: #ffffff;
    font-family: Poppins;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: uppercase;
  }

  /* Browse Section  */
  .browse {
    width: auto;
    height: 685px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  .browse-text {
    display: flex;
  }
  .h3-browse {
    color: #333333;
    font-family: Poppins;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
  }
  .para-browse {
    color: #666666;
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
  }
  .browse-imges {
    width: 90%;
    display: flex;
    justify-content: space-around;
  }
  .bro-img {
    width: 381px;
    height: 480px;
  }
  .h4-browse {
    color: #333333;
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
  }

  /* Home Products Section  */
  .products {
  }
  .h2-products {
  }
  .product-body {
  }
  .product-content {
  }
  .product-cart-link {
  }
  .product-img {
  }
  .product-details {
  }
  .h3-pro {
  }
  .para-pro {
  }
  .h2-pro {
  }
  .para-pro-rp {
  }
  .product-btn {
  }
  .pro-btn-link {
  }

  /* Rooms Section  */
  .rooms-section {
  }
  .room-text {
    width: 422px;
    height: 151px;
    background-color: #b88e2f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .h2-room {
  }
  .para-room {
  }
  .room-btn {
    background: #b88e2f;
    width: 176;
    height: 48;
    top: 3162px;
    left: 100px;
  }
  .room-btn-link {
    color: #ffffff;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .room-img {
  }
  .room-peace-img {
  }
  .peace-img {
    width: 80%;
  }
  .inner-peace {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    position: relative;
    top: -100px;
    left: 50px;
  }
  .room-peace {
    background: #ffffffb8;
    backdrop-filter: blur(3px);
    width: 217px;
    height: 130px;
    top: 3235px;
    left: 588px;
  }
  .para-peace {
    color: #616161;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .h3-peace {
    color: #3a3a3a;
    font-family: Poppins;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .inner-arrow {
    background: #b88e2f;
    width: 48px;
    height: 48px;
  }
  .room-only-img {
  }
  #room-only-img {
    display: block;
  }
  .only-img {
  }
  .only-img-1 {
    width: 80%;
  }
  .only-elipes {
  }
  .elipes {
  }
  #elipes {
  }

  /* Funiro Furniture Section  */

  .furniture {
    width: 1799;
    height: 780;
  }
  .furniture-body {
  }
  .furniture-text {
  }
  .para-furniture {
    color: #616161;
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .h2-furniture {
    color: #3a3a3a;
    font-family: Poppins;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }
  .furniture-img {
    width: 1799;
    height: 721;
    top: 3559px;
    left: -196px;
  }
  .furni-left-img {
  }
  .fur-img-1 {
    width: 80%;
  }
  .furni-middle-img {
  }
  .furni-right-img {
  }
}
